

  .example-spacer {
    flex: 1 1 auto;
    
  }
  .but1{

    margin: 20px;
    background-color: #555555;
    }
  .but2{

      margin-right:30px;
     
      }

    table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    td, th {
      width: 5%;
    }

  .title{
    margin: 10px;
  }
 